# Firebase Configuration
# These are automatically populated if you use the Firebase Setup tool
VITE_FIREBASE_API_KEY=AIzaSyB50F_DDfoIyVmi1vXcHqmAB_MhRiWPyZo
VITE_FIREBASE_AUTH_DOMAIN=connect-hub-ul8cc.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://connect-hub-ul8cc-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=connect-hub-ul8cc
VITE_FIREBASE_STORAGE_BUCKET=connect-hub-ul8cc.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=338900869262
VITE_FIREBASE_APP_ID=1:338900869262:web:dd5c818377149783efa9df

# Admin Credentials (Manual Login)
# Used for manual bypass/demo mode
ADMIN_EMAIL=admin@playpro.com
ADMIN_PASSWORD=admin123

# Razorpay Security Architecture Variables
VITE_RAZORPAY_KEY_ID=rzp_live_SwERe0hKYadOZX
RAZORPAY_KEY_ID=rzp_live_SwERe0hKYadOZX
RAZORPAY_KEY_SECRET=AZsLtefCSklKrs6CJxkBxiAU

